<link href="css/bootstrap.min.css" rel="stylesheet">
<body>
    <br><br>
    
    <div class="container">
        <a href="//uploadcare.com" target="_blank"><img src="/logo.svg" alt="" /></a>
        
        <div style="margin-left: 51px; margin-right: 51px">
            <h2>Uploadcare Shopify Installer</h2>
            <p class="lead">Easily upload files from your computer and other sources.</p>
            <p class="text-muted">This app requires you to login to start using it.</p>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <form role="form" class="form-large" action="/login" method="post">
                        <div class="input-append">
                            <div class="input-group input-group-lg">
                                <input class="form-control" type="url" name="shop" placeholder="Shop URL">
                                <div class="input-group-btn">
                                    <input class="btn btn-primary" type="submit" value=" Install App " />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
    
</body>
